node_modules/
.env
build/
dist/
*.log
.DS_Store
package-lock.json
/backend/node_modules/
/frontend/node_modules/
/frontend/build/
*.xlsx
*.txt
.idea/
.vscode/
production-scheduler-fyp/backend/node_modules/
production-scheduler-fyp/frontend/node_modules/
